 table {
     width: 100%;
 }

 table,
 td {
     border: 1px solid #000;
     border-collapse: collapse;
 }

 .txt-center {
     text-align: center;
 }

 .amarelo {
     background-color: yellow;
 }

 .azul {
     background-color: blue;
 }

 .darkred {
     background-color: darkred;
 }

 .gray500 {
     background-color: gray;
 }

 .gray900 {
     background-color: #212121;
 }

 .gray700 {
     background-color: #424242;
 }