 table {
     width: 100%;
 }

 table,
 td {
     border: 1px solid #000;
     border-collapse: collapse;
 }

 .txt-center {
     text-align: center;
 }

 .amarelo {
     background-color: yellow;
 }

 .azul {
     background-color: blue;
 }